.new-ticket-container {
  margin-bottom: 2rem;
  form {
    display: none;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
  }
  &.ready {
    form {
      display: block;
    }
    .spinner-container {
      display: none;
    }
  }
}
