.ticket-list-header {
  .status-filter {
    .muted {
      opacity: 0.5;
    }
  }
}
.ticket-list-container {
  position: relative;
  min-height: 100px;
  background-color: #fff;
  padding: 20px 30px;
  margin-bottom: 20px;
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  &.loading {
    .table-tickets {
      opacity: 0.4;
    }
  }
  .table-tickets {
    td {
      cursor: pointer;
    }
  }
}