.ticket-list-page {
  padding-bottom: 30px;
  .ticket-list-header {
    .status-filter {
      @media (min-width: 400px) {
        display: flex;
        justify-content: space-between;
      }
      @media (max-width: 767px) {
        margin: 1.5rem 0;
      }
      .muted {
        opacity: 0.5;
      }
      .btn:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
    .page-limit {
      display: flex;
      justify-content: space-between;
    }
  }
  .ticket-list-container {
    position: relative;
    background-color: #fff;
    padding: 20px 30px;
    margin-bottom: 30px;
    .spinner-container {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
    }
    .table-tickets {
      th, td {
        text-align: center;
      }
      td {
        cursor: pointer;
        vertical-align: middle;
      }
      .subject {
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .replied-date {
        white-space: nowrap;
        @media (max-width: 991px) {
          display: none;
        }
      }
      .client {
        @media (max-width: 767px) {
          display: none;
        }
      }
      .status {
        .btn {
          width: 93px;
        }
      }
      .status {
        .badge {
          width: 65px;
        }
      }
    }
    .tickets-not-found {
      text-align: center;
    }
    &.loading {
      .spinner-container {
        display: flex;
      }
      .table-tickets {
        opacity: 0.4;
      }
      .tickets-not-found {
        opacity: 0;
      }
    }
  }
}
