.ticket-page {
    & > .spinner-container {
      display: flex;
      justify-content: center;
    }
  .ticket-container {
    &:not(.ready) {
      display: none;
    }
    .ticket-info {
      background-color: #fff;
      padding: 0 30px;
      .ticket-header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        border-bottom: 1px solid #f0f0f0;
        padding: 20px 0;
        .ticket-subject {
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
      .ticket-body {
        padding: 20px 0;
      }
      .ticket-footer {
        border-top: 1px solid #f0f0f0;
        padding: 20px 0;
      }
    }
    .ticket-meta {
      .card {
        border: 4px solid #fff;
        .card-body {
          padding: 40px 1rem;
          position: relative;
          .ticket-status {
            position: absolute;
            top: 5px;
            right: 5px;
            padding: .35em .65em;
            font-size: .75em;
            font-weight: 700;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
          }
          .ticket-agent {
            text-align: center;
            color: #fff;
          }
        }
      }
    }
    .add-response {
      margin-top: 30px;
      background-color: #fff;
      padding: 0 30px;
      form {
        .form-header {
          padding: 20px 0;
          .form-label {
            margin: 0;
            font-size: 1.5rem;
          }
        }
        .form-body {
          margin-bottom: 20px;
        }
        .form-footer {
          padding: 20px 0;
          border-top: 1px solid #f0f0f0;
        }
      }
    }
  }
}