@import 'Login';
@import 'TicketList';
@import 'NewTicket';
@import 'Ticket';

html,
body,
#root {
  min-height: 100%;
}

body {
  background-color: #f4f4f4;
}

.main-container {
  overflow: hidden;
}

.main-navbar {
  margin-bottom: 2rem;
  .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    .nav-item {
      display: flex;
      .logout-btn {
        padding: 0;
        margin-left: 10px;
        i {
          position: relative;
          top: -1px;
        }
      }  
    }
  }
}

.main-header {
  margin: 2rem 0;
}

.tinymce-wrapper {
  .tox-tinymce {
    border-radius: .25rem;
  }
  &.is-invalid {
    .tox-tinymce {
      border-color: #dc3545;
    }
  }
  &.is-valid {
    .tox-tinymce {
      border-color: #198754;
    }
  }
}

.pagination {
  margin: 0;
}