@import 'TicketList';
@import 'NewTicket';
@import 'Ticket';

html,
body,
#root {
  min-height: 100%;
}

body {
  background-color: #f4f4f4;
}

.main-container {
  overflow: hidden;
}

.main-navbar {
  margin-bottom: 2rem;
  .navbar-collapse {
    display: flex;
    justify-content: space-between;
  }
}

.main-header {
  margin: 2rem 0;
}

.tinymce-wrapper {
  .tox-tinymce {
    border-radius: .25rem;
  }
  &.is-invalid {
    .tox-tinymce {
      border-color: #dc3545;
    }
  }
  &.is-valid {
    .tox-tinymce {
      border-color: #198754;
    }
  }
}

.pagination {
  margin: 0;
}